* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.logo img {
  width: 50px;
  display: inline;
}

.logo h1 {
  display: inline;
  color: rgb(212, 90, 46);
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.post {
  border: 2px solid #120202;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
}

.post-box {
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;

}

.user {
  border: 2px solid #120101f3;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.post-list a {
  color: black; 
}

.post ul {
  list-style: none;
}