* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgba(233, 75, 8, 0.553);
}

.logo img {
  width: 50px;
  display: inline;
}

.logo h1 {
  display: inline;
  color: rgb(212, 90, 46);
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.post {
  border: 2px solid #120202;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(187, 58, 7, 0.858);
}

.post-list {
  align-items: center;
}

.post-box {
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(187, 58, 7, 0.858);
  width: 500px;
  
}

.user {
  border: 2px solid #120101f3;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(187, 58, 7, 0.858);
}

.post-list a {
  color: black;
}

.post ul {
  list-style: none;
}

.post-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comment-box {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(240, 228, 223, 0.553);
  border-radius: 10px;
}